
.contenedor{
    width: 90%;
    height: 500px;
    background-color: #ca8ea0;
    margin: auto;
    margin-top: 57px;

}

.titulo{
    TEXT-ALIGN: center;
    padding-top: 44px;
}

.info{
    width: 100%;
    background-color: rgb(129, 199, 152);
    height: 400px;
}

.start{
    width: 300px;
    height: 52px;
    margin: auto;
    
    display: block;
}

.foto{
    background-image: url("https://i2.wp.com/files.polldaddy.com/ff7c3687da033b45427b4727b186cd49-598c5c6d3e6a4.jpg");
    width: 50%;
    height: 300px;
}

.foto2{
    background-image: url("https://i1.wp.com/files.polldaddy.com/62b881e1b7d2a3502eda89accc31fe34-598c5a96cd1cb.jpg");
    width: 50%;
    height: 300px;
}